<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<% def node = context.getAttribute('jcr').getNodeByIdentifier(request.getParameter('v')) %>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" href="/layout.css" />
<title>Version | ${node.title.string} - Miniki</title>
</head>
<body>
<div class="wrapper">
<% include '/WEB-INF/includes/search.gtpl' %>
<h2 style="color:lightgray">
Version
&raquo;
<a href="view.html?p=<%= node.path %>" style="color:gray;">${node.title.string}</a>
<a href="restore.groovy?v=<%= node.UUID %>" style="color:gray;vertical-align:super;font-size:0.5em">[Restore]</a>
</h2>
<p><pre>${node.text ? node.text.string : 'Nothing to see here'}</pre></p>

</div>
<% include '/WEB-INF/includes/footer.gtpl' %>
</body>
</html>