<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<% def node = request.getAttribute('mn:node') %>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" href="/layout.css" />
<title>History | ${node['mn:title'].string} - Miniki</title>
</head>
<body>
<div class="wrapper">
<% include '/WEB-INF/includes/header.gtpl' %>
<ul style="font-family:monospace">
    <li>$node.UUID (Current)</li>
<% 
    def history = node.session.workspace.versionManager.getVersionHistory(node.path)
    history.allLinearVersions.reverse().each { version ->
        if (version.frozenNode.isSame(node)) {
            %><li>${version.created.time.format('dd MMM yyyy HH:mm:ss')}</li><%
        }
        else {
            %><li><a href="version.html?v=<%= version.frozenNode.UUID %>">$version.name (${version.created.time.format('dd MMM yyyy HH:mm:ss')})</a></li><%
        }
    }
%>
</ul>
</div>
<% include '/WEB-INF/includes/footer.gtpl' %>
</body>
</html>