<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<%
   def parent
   if (request.getParameter('p')) {
     parent = context.getAttribute('jcr').getNode(request.getParameter('p'))
   }
   else {
     parent = context.getAttribute('jcr').rootNode
   }
   def node
   if (request.getParameter('c')) {
        def title = request.getParameter('c')
        node = parent << title
        node['title'] = title
   }
   else {
        node = parent
   }
%>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>${node.title.string} - Miniki</title>
</head>
<body>
<h2 style="color:lightgray">
<% 
    def breadcrumb
    breadcrumb = { n ->
        if (!n.parent.isSame(n.session.rootNode)) {
            breadcrumb(n.parent)
        }
        out << ' &raquo '
        html.a(href: "view.html?p=$n.path", style: 'color:gray', n.title.string)
    }
    breadcrumb(node)
%>
</h2>
<form action="save.groovy" method="post">
    <input type="hidden" name="p" value="<% out << node.path%>"/>
    <input type="text" name="t" value="<% out << node.title?.string %>"/><br/>
    <textarea rows="4" cols="20" name="txt">${node.text?.string}</textarea><br/>
    <input type="submit" value="Save">
    <a href='view.html?p=<% out << node.path%>'>Cancel</a>
</form>
<% node.nodes.each { %>
    <a href='view.html?p=<% out << it.path%>'>${it.name}</a>
<% } %>

</body>
</html>